openapi: 3.1.0
info:
  title: Justworks Company Paystubs API
  description: 'Read company-level data from the Justworks Partner API including

    company identity, bank account on file, verified business information,

    custom field definitions, and operating jurisdictions.

    '
  version: '2026-05-25'
  contact:
    name: Justworks Partner Support
    url: https://public-api.justworks.com/v1/docs
servers:
- url: https://public-api.justworks.com
  description: Production Server
security:
- OAuth2: []
tags:
- name: Paystubs
  description: Read access to per-member paystubs
paths:
  /v1/payrolls/{payroll_id}/paystubs:
    get:
      summary: Justworks List Paystubs For Payroll
      description: List per-member paystub summaries for a payroll run.
      operationId: listPaystubsForPayroll
      tags:
      - Paystubs
      parameters:
      - $ref: '#/components/parameters/PayrollId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of paystub summaries
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaystubSummary'
                  next_cursor:
                    type: string
                    nullable: true
  /v1/paystubs/{paystub_id}:
    get:
      summary: Justworks Get Paystub
      description: Retrieve a single paystub including earnings, employee deductions, and employer contributions.
      operationId: getPaystub
      tags:
      - Paystubs
      parameters:
      - name: paystub_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A paystub with detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paystub'
components:
  schemas:
    Paystub:
      type: object
      properties:
        member_id:
          type: string
        paystub_id:
          type: string
        gross_pay:
          type: integer
        net_pay:
          type: integer
        currency:
          type: string
        pay_date:
          type: string
          format: date
        pay_group:
          type: string
        pay_period_end:
          type: string
          format: date
        pay_period_start:
          type: string
          format: date
        earnings:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        employee_deductions:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        employer_contributions:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
    PaystubSummary:
      type: object
      properties:
        member_id:
          type: string
        paystub_id:
          type: string
        gross_pay:
          type: integer
        net_pay:
          type: integer
        currency:
          type: string
        pay_date:
          type: string
          format: date
        pay_group:
          type: string
        pay_period_end:
          type: string
          format: date
        pay_period_start:
          type: string
          format: date
    LineItem:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        amount:
          type: integer
        category:
          type: string
        currency:
          type: string
  parameters:
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
    PayrollId:
      name: payroll_id
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://secure.justworks.com/oauth/authorize
          tokenUrl: https://public-api.justworks.com/oauth/token
          refreshUrl: https://public-api.justworks.com/oauth/token
          scopes:
            company.basic:read: Read basic company data
            company.detail:read: Read detailed company data
            company.bank_account:read: Read company bank account on file
